body
{
    margin:0;
    padding: 0px;
    background-color: #363636;
}

a
{
    color: #000;
}

h1
{
    font-family: lexend;
    font-size: 2em;
    letter-spacing: .02em;
    text-align: left;
    color: #000;
    margin-left: 5%;
}

h3
{
    font-family: lexend;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-align: center;
    color: #000;
}

header
{
    background-color: teal;
    height: auto;
    width: auto;
    padding-left: 12px;
    border: 1px solid #000;
}



@media screen and (max-height: 450px)
{
  .sidenav 
  {
    padding-top: 15px;
  }
  .sidenav a 
  {
    font-size: 18px;
  }
}

.menu
{
  font-size: 24px;
  cursor: pointer;
  padding-left: 12px;
  margin-top: 12px;
  float: left;
}



@media(max-width:1100px){
.menu
{
	font-size: 24px;
	cursor: pointer;
	padding-left: 12px;
	margin-top: 12px;
	float: left;
  display: block;
}

   nav{
     display: none;
   }
  

   .flex_parent_container
   {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    -moz-border-radius: 10px;
    border-radius: 50px;
    -khtml-border-radius: 10px;
   }

   .box
   {
    padding: 10px;
    margin: 10px;
    flex-basis: 3in;
    min-width: 1px;
   }

   .fbox
   {
    padding: 10px;
    margin: 10px;
    flex-basis: 3in;
    min-width: 1px;
   }
  
   .box1
   {
    order: 1;
    border: 5px solid #fff;
    flex-grow: 1;
    width: auto;
    -moz-border-radius: 10px;
    border-radius: 50px;
    -khtml-border-radius: 10px;
    background-color: rgb(65, 65, 65);
   }
}