body
{
    margin:0;
    padding: 0px;
    background-color: #363636;
}

a
{
    color: #000;
}

h1
{
    font-family: lexend;
    font-size: 2em;
    letter-spacing: .02em;
    text-align: left;
    color: #000;
    margin-left: 5%;
}

h3
{
    font-family: lexend;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-align: center;
    color: #000;
}

header
{
    background-color: teal;
    height: auto;
    width: auto;
    padding-left: 12px;
    border: 1px solid #000;
}



@media screen and (max-height: 450px)
{
  .sidenav 
  {
    padding-top: 15px;
  }
  .sidenav a 
  {
    font-size: 18px;
  }
}

.menu
{
  font-size: 24px;
  cursor: pointer;
  padding-left: 12px;
  margin-top: 12px;
  float: left;
}



@media(max-width:1100px){
.menu
{
	font-size: 24px;
	cursor: pointer;
	padding-left: 12px;
	margin-top: 12px;
	float: left;
  display: block;
}

   nav{
     display: none;
   }
  
  
}