html{
    scroll-behavior: smooth;
  color: white;
  width: auto;
  height: auto;
}

nav
{
  width: auto;
  height: auto;
  background-color: teal;

  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}


nav a {
  
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 4px;
}



.menu
{
	font-size: 24px;
	cursor: pointer;
	padding-left: 12px;
	margin-top: 12px;
	float: left;
  display: none;
}


.menu
{
  font-size: 24px;
  cursor: pointer;
  padding-left: 12px;
  margin-top: 12px;
  float: left;
}

.sidenav
{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a 
{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}
.sidenav .closebtn
{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px)
{
  .sidenav 
  {
    padding-top: 15px;
  }
  .sidenav a 
  {
    font-size: 18px;
  }
}

.menu
{
  font-size: 24px;
  cursor: pointer;
  padding-left: 12px;
  margin-top: 12px;
  float: left;
}



@media(max-width:1920px){
.menu
{
  display: none;
}

.logotwo
{
  height: 100px;
  width: 130px;
  margin-top: 35px;
}
  }
  
  .navbar {
    border-bottom: 1px solid #BBBBBB;
  }
  
  .nav-link {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #031D44;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
  }
  
  .nav-link:hover {
    opacity: 1;
  }
  
  .nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #031D44;
  }
  
  .nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
  }
  
  .nav-link-ltr:hover::before {
    width: 100%;
  }
  
  .nav-link-fade-up::before {
    width: 100%;
    bottom: 5px;
    opacity: 0;
  }
  
  .nav-link-fade-up:hover::before {
    bottom: 10px;
    opacity: 1;
  }
  
  .nav-link-grow-up::before {
    height: 0%;
    width: 100%;
    bottom: 0px;
  }
  
  .nav-link-grow-up:hover::before {
    height: 5px;
  }