.App {
  text-align: center;
  display: flex;
    flex-flow: row wrap;
    justify-content: space-around; 
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.radio{
  background-color: white;
  border: 3px black;
  margin-left: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  
  
}

.radio>*{
  margin-top: auto;
  margin-bottom: auto;
}


label{
  vertical-align: middle;
}

.update{
  width: 200px;
  height: 50px;
  margin-left: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
 
}

.updateBox{
  max-width: 100vw;
  align-items: center;
  
}

table{
  width: 100vw;
}

.change{
  display: flex;
  flex-flow: row wrap;
  justify-self: start;
  
  
}

.submit{
  width:200px;
  height: 50px;
  border-radius: 10px;
}
